.header.d-flex.flex-column.justify-content-between.align-items-center(class=`${page === 'index' ? 'index' : ''}`)
  nav.topmenu.d-flex.justify-content-center
    div.dropdown
      a.dropdown-toggle(role='button' id='base-drop' href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        | About
      div.dropdown-menu(aria-labelledby='base-drop')
        a.dropdown-item(href=`${page === 'index' ? '#about' : '/index.pug'}` class=`${page === 'index' ? 'active' : ''}`) Home
        a.dropdown-item(href=`${page === 'privacy' ? '#' : '/privacy.pug'}` class=`${page === 'privacy' ? 'active' : ''}`) Privacy
        a.dropdown-item(href=`${page === 'tos' ? '#' : '/tos.pug'}` class=`${page === 'tos' ? 'active' : ''}`) TOS
    .line.align-self-center
    div.dropdown
      a.dropdown-toggle(role='button' id='cmd-drop' href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        | Commands
      div.dropdown-menu(aria-labelledby='cmd-drop')
        a.dropdown-item(href='/commands/block.pug') Blocking
        a.dropdown-item(href='/commands/bot_mgmt.pug') Bot Mgmt
        a.dropdown-item(href='/commands/cmd_mgmt.pug') Command Mgmt
        //- a.dropdown-item(href='/commands/codes.pug') Codes
        a.dropdown-item(href='/commands/core.pug') Core
        a.dropdown-item(href='/commands/cust_cmds.pug') Custom Commands
        a.dropdown-item(href='/commands/fun.pug') Fun
        //- a.dropdown-item(href='/commands/giveaways.pug') Giveaways
        a.dropdown-item(href='/commands/logging.pug') Logging
        a.dropdown-item(href='/commands/rooms.pug') Rooms
        a.dropdown-item(href='/commands/util.pug') Utilities
        a.dropdown-item(href='/commands/warframe.pug') Warframe
        a.dropdown-item(href='/commands/tracking.pug') Tracking
    .line.align-self-center
    a(href='https://discord.gg/DuFunUv' target='_blank') Join
    .line.align-self-center
    a(href='https://discordapp.com/api/oauth2/authorize?client_id=167095321740967937&scope=bot&permissions=806841424'  target='_blank')
      | Invite
  if page === 'index'
    .server-info.d-flex.align-items-center.flex-column.text-center
      h1 Genesis
      h2 Discord Bot
      a.links-suppressor.join-btn.btn-pill.white(href='https://discord.gg/DuFunUv' target='_blank') Join Server
